<div class="iphone-block animatedParent">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center animated growIn">
                <div class="icon">
                    <img src="assets/img/reason-icon2.svg" alt="icon-phone">
                </div>
                <h2 class="h2-main">Sprawdź swoje konto!</h2>
                <p><span style="color: #1c7430">GRATULACJE!</span> nigdy nie byłeś u nas notowany!</p>
                <p><span style="color: #AA3333">Ojoj, niedobrze!</span> masz aktualnego bana!</p>
                <p><span style="color: #005cbf">Ufff....</span> jesteś notowany, ale byłeś grzeczny więc możesz grać!</p>
            </div>
        </div>
    </div>
</div>