<div class="container animatedParent">
    <div class="row reasons-block">
        <div class="col-xl-4 col-lg-4 col-12 animated bounceInLeft delay-250">
            <img src="assets/img/sygnet_color.png" style="width: 100%; max-width: 200px; display: block; margin: 0 auto;" />
            <h2 class="h2-main" style="text-align: center; padding-right: 0;">Najnowsze blokady użytkowników</h2>
        </div>
        <div class="col-xl-8 col-lg-8 col-12">
            <div class="row">
                <div class="col-sm-6 animated bounceInRight delay-250">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/reason-icon1.svg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Ostatni ban</h4>
                            <p>Fabian | fabko.ovh<br />
                            23.08.2018 18:12:15<br />
                            Wygasa za: <strong>8 dni, 45 min</strong><br />
                            Powód: <strong>Fchuj długi powód zbanowania permanentnego fabiana</strong></p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>
                <div class="col-sm-6 animated bounceInRight delay-250">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/reason-icon2.svg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Ostatni ban permanentny</h4>
                            <p>Fabian | fabko.ovh<br />
                                23.08.2018 18:53:25<br />
                                Powód: <strong>Fchuj długi powód zbanowania permanentnego fabiana</strong></p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>
                <div class="col-sm-6 animated bounceInRight delay-500">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/reason-icon3.svg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Ostatnie zgłoszenie</h4>
                            <p>Fabian | fabko.ovh<br />
                                23.08.2018 23:26:11<br />
                                Powód: <strong>Fchuj długi powód zbanowania permanentnego fabiana</strong></p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>
                <div class="col-sm-6 animated bounceInRight delay-500">
                    <!--===================== Reason Block Cont ========================-->
                    <div class="reason-block-cont">
                        <div class="reasons-icon-div">
                            <img src="assets/img/reason-icon4.svg" alt="images">
                        </div>
                        <div class="reasons-desc-div">
                            <h4>Ostatnie wyciszenie</h4>
                            <p><p>Fabian | fabko.ovh<br />
                                23.08.2018 23:26:11<br />
                                Wygasa za: <strong>8 dni, 45 min</strong><br />
                                Powód: <strong>Fchuj długi powód zbanowania permanentnego fabiana</strong></p></p>
                        </div>
                    </div>
                    <!--===================== End of Reason Block Cont ========================-->
                </div>
            </div>
        </div>
    </div>
</div>