<div class="courusel-container">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div id="sync1" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="inside">
                            <h1>Lista banów</h1>
                            <p>Sprawdź czy możesz dołączyć do naszych serwerów przegladając listę banów</p>
                            <a href="{{ path('bansList') }}" class="blue-brd-btn">Sprawdź listę banów</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inside">
                            <h1>Lista zgłoszeń</h1>
                            <p>Wkurza Cię gracz na serwerze? Ktoś cheatuje? Zgłoś go juz dziś!</p>
                            <a href="{{ path('reportsList') }}" class="blue-brd-btn">Przejdź do zgłoszeń</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="inside">
                            <h1>Lista wyciszeń</h1>
                            <p>Ktoś z irytującym głosem na serwerze piskliwie prosi Cię, żebyś dał mu kosę? Zgłoś prośbe o mute!</p>
                            <a href="{{ path('mutesList') }}" class="blue-brd-btn">Przejrzyj listę wyiszeń</a>
                        </div>
                    </div>
                </div>
                <div id="sync2" class="owl-carousel owl-theme">
                    <div class="item">
                        <span>01</span>
                    </div>
                    <div class="item">
                        <span>02</span>
                    </div>
                    <div class="item">
                        <span>03</span>
                    </div>
                </div><!--owl-carousel-->
                <div class="main-slider-logo-block owl-carousel owl-theme">
                    <div class="item">
                        <img src="https://koderz.pl/uploads/monthly_2018_07/logo2.png.480692f0319028128b4fb21adcb79506.png" alt="images">
                    </div>
                    <div class="item">
                        <img src="https://koderz.pl/uploads/monthly_2018_07/logo2.png.480692f0319028128b4fb21adcb79506.png" alt="images">
                    </div>
                    <div class="item">
                        <img src="https://koderz.pl/uploads/monthly_2018_07/logo2.png.480692f0319028128b4fb21adcb79506.png" alt="images">
                    </div>
                    <div class="item">
                        <img src="https://koderz.pl/uploads/monthly_2018_07/logo2.png.480692f0319028128b4fb21adcb79506.png" alt="images">
                    </div>
                    <div class="item">
                        <img src="https://koderz.pl/uploads/monthly_2018_07/logo2.png.480692f0319028128b4fb21adcb79506.png" alt="images">
                    </div>
                    <div class="item">
                        <img src="https://koderz.pl/uploads/monthly_2018_07/logo2.png.480692f0319028128b4fb21adcb79506.png" alt="images">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>