<div class="container-fluid live-currency animatedParent">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-4 offset-lg-1 live-currency-div1 animated bounceInLeft delay-250">
            <h4>BetterBans</h4>
            <h2 class="h2-main">Statystyki banów</h2>
            <p>Dziwi Cię liczba zablokowanych osób? To że jest duża świadczy tylko o dobrej jakości <strong>BetterBans</strong>.</p>
        </div>
        <div class="col-lg-7 col-md-8 live-currency-div2 animated bounceInRight delay-500">
            <img  src="assets/img/line-bitcoin.png" alt="images">
            <div class="live-currency-cont">
                <div>
                    <h4>BANY</h4>
                    <p>1 035</p>
                </div>
                <div>
                    <h4>ZGŁOSZENIA</h4>
                    <p>9 326</p>
                </div>
                <div>
                    <h4>WYCISZENIA</h4>
                    <p>10 535</p>
                </div>
            </div>
        </div>
    </div>
</div>